<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>TIGRES 6652</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>TIGRES 6652 - Scouting System</h1>
        <div class="buttons">
            <a href="/add_team" class="btn btn-yellow">Agregar Equipo</a>
            <a href="/scouting" class="btn btn-yellow">Scouting (Captura)</a>
            <a href="/data" class="btn btn-blue">Visualización de Datos</a>
        </div>
    </div>
</body>
</html>